body{
    margin:0;
}

header{
    width:90vw;
    margin-left: auto;
    margin-right: auto;
}
.container1{
    display: flex;
    width:90vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid rgb(224, 224, 224);
}

.subcontainer1{
    color:rgb(170, 169, 169);
    font-size: 14px;
    display: flex;
    gap:5px;
}
.subcontainer2{
    display: flex;
}
.nav{
    display: flex;
    list-style: none;
    justify-content: space-around;
}