body{
    margin:0;
}

header{
    width:90vw;
    margin-left: auto;
    margin-right: auto;
}
.container1{
    display: flex;
    width:90vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid rgb(224, 224, 224);
}

.subcontainer1{
    color:rgb(170, 169, 169);
    font-size: 14px;
    display: flex;
    gap:5px;
}
.subcontainer2{
    display: flex;
}
.nav{
    display: flex;
    list-style: none;
    justify-content: space-around;
    background-color: rgb(214, 214, 214);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding:10px 0px;
}
main{
    width:90vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.col1{
    width:50%;
    border:1px solid black;
}
.col2{
    width:15%;
    border:1px solid black;
}
.col3{
    width:35%;
    border:1px solid black;
}
.box{
    display: flex;
    flex-direction: row;
}